name: 'Build solutions'

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    environment: production

    permissions:
      contents: write
      packages: read

    env:
      PACKAGES_USER: ${{ secrets.PACKAGES_USER }}
      PACKAGES_TOKEN: ${{ secrets.PACKAGES_TOKEN }}

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: set up JDK 25
        uses: actions/setup-java@v3
        with:
          java-version: '25'
          distribution: 'adopt'

      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b

      - name: test
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        with:
          arguments: test

      - name: integration test
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        with:
          arguments: integrationTest

      - name: run all solutions
        run: ./gradlew run --args="readme=true fastest=true"

      - name: auto-commit README.md changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Updating results in README
          file_pattern: README.md