name: 'Scrape problems'

on:
  workflow_dispatch:
  schedule:
    - cron: '0 5 1-12 12 *'

jobs:
  build_and_scrape:
    runs-on: ubuntu-latest
    environment: production

    env:
      PACKAGES_USER: ${{ secrets.PACKAGES_USER }}
      PACKAGES_TOKEN: ${{ secrets.PACKAGES_TOKEN }}

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b

      - name: assemble
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        with:
          arguments: assemble

      - name: scrape today's solution
        shell: bash
        run: ./gradlew scrape --args="today=true"
        env:
          SESSION: ${{ secrets.SESSION }}

      - name: auto-commit today's solution files
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Adding today's problem
